@font-face {
  font-family: 'Manjari';
  font-style: normal; 
  font-weight: 400;
  src: url("../fonts/Manjari-Regular.woff2") format("woff2"), url("../fonts/Manjari-Regular.woff") format("woff"), url("../fonts/Manjari-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Manjari';
  font-style:bold;
  font-weight:700;
  src:url("../fonts/Manjari-Bold.woff2") format("woff2"), url("../fonts/Manjari-Bold.woff") format("woff"), url("../fonts/Manjari-Bold.ttf") format("truetype");
}

body,h1,h2,h3,h4,h5,p,a {
  font-family: "Manjari",'Droid Sans', Arial, Verdana, sans-serif, FontAwesome !important;
}
